.txt
{
    font-family: open_san; 
    font-weight: bolder;
    font-size: 45px;
    color: cornsilk;
    
}
.txta{
    
    font-family: open_san; 
    font-weight: bolder;
    font-size: 30px;
    color: cornsilk;
}
.x2{
    margin: auto;
    
}