
<section class="py-5">  
  <div class="container px-4 px-lg-5 mt-5">
  <div class="row">
   
    <!-- for search componet -->
    <app-search></app-search>
</div>

  <br>

 


      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
         
          <div class="col mb-5"  *ngFor="let x of product">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top img-responsive " [src]="x.img" height="200px" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><a class="text-decoration-none text-dark" routerLink="/home/{{x.id}}">  {{x.name}}</a></h5>
                          <!-- Product price-->
                          {{x.price| currency: 'INR'}}<br>
                          
                          <p class="card-text text-truncate">{{x.info}}</p>
                      </div>
                  </div>
                
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center "><a class=" btn btn-outline-dark mt-auto" href="#">  Add to Cart</a></div>
                  </div>
              </div>
          </div>
          <div *ngIf="product?.length==0" class="alert">The Product is not available</div>
                     </div>
  </div>
</section>


